<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection</title>
</head>
<body>
    <h1>Upload an image to detect faces:</h1>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="image">
        <button type="submit">Detect Faces</button>
    </form>
    <div id="result"></div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();

            var form = event.target;
            var formData = new FormData(form);

            fetch('/detect', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerHTML = '<img src="' + data.result_image + '">';
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
